<div class="container"> 
  <div class="row"> 
     <div class="col-lg-12 text-center" style="padding-top: 20px;"> 
      <form [formGroup]="categoryName" method="post">
        <div class="container" style="padding-left: 0px; padding-right: 0px;"> 
           <div class="row"> 
            <div class="col-sm" style="text-align: left;"> 
           </div> 
           <div class="col-sm" style="text-align: right;"> 
              <!-- <input type="button" class="btn btn-primary" value="Add" />  -->
             
               <button   (click)="onSubmit()" class="btn btn-primary" [disabled]='categoryName.invalid' >Add</button>

           </div> 
           </div> 
        </div> 
        <div class="container box" style="margin-top: 10px;"> 
        <div class="row"> 
        <div class="col-2" style="text-align: right;">  
           <strong class="form-label"><em>Category Name:</em></strong> 
        </div> 
        <div class="col" style="text-align: left;"> 
          <input class="form-control" style="width: 50%;" type="text" name="name" id="name" formControlName='name'>
        </div>
       </div>
     </div> 
     </form>
  </div> 
</div> 
</div>

