<!-- Navigation --> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top"> 
  <div class="container"> 
     <a class="navbar-brand" href="#">{{ title }}</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon">
        </span> 
     </button> 
     <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav ml-auto"> 
           <li routerLinkActive="active" class="nav-item active"> 
           <a class="nav-link" routerLink="/Home" href="#">Home
              <span class="sr-only">(current)
              </span>
           </a> 
           </li> 
           <li routerLinkActive="active" class="nav-item"> 
           <a class="nav-link" routerLink="/Report" href="#">Report</a> 
           </li> 
           <li routerLinkActive="active" class="nav-item"> 
           <a class="nav-link"  routerLink="/Add" href="#">Add Expense</a> 
           </li> 
           <li routerLinkActive="active" class="nav-item"> 
           <a class="nav-link" routerLink="/Category" href="#">Category</a> 
           </li> 
        </ul> 
     </div> 
  </div> 
</nav> 
<!-- <app-pipe></app-pipe> -->
<!-- <app-forloop></app-forloop> -->
<!-- <app-add-expense></app-add-expense> -->
<!-- <app-expense-list></app-expense-list> -->
<!-- <app-expense-entry></app-expense-entry> -->
<router-outlet></router-outlet>