<div class="container"> 
  <div class="row"> 
     <div class="col-lg-12 text-center" style="padding-top: 20px;"> 
      <form [formGroup]="Expense" method="post">
        <div class="container" style="padding-left: 0px; padding-right: 0px;"> 
           <div class="row"> 
            <div class="col-sm" style="text-align: left;"> 
           </div> 
           <div class="col-sm" style="text-align: right;"> 
              <!-- <input type="button" class="btn btn-primary" value="Add" />  -->
               <a *ngIf="canEdit && ExpenseID" routerLink="/Report"><button class="btn btn-primary" routerLinkActive="active" (click)="onUpdate()" [disabled]='Expense.invalid' >{{editButtonString}}</button></a>
               <a *ngIf="canEdit && ExpenseID"><button class="btn btn-danger"  (click)="ondelete(ExpenseID)" >Delete</button></a>
               <button  *ngIf="!ExpenseID" (click)="onSubmit()" class="btn btn-primary" [disabled]='Expense.invalid' >{{editButtonString}}</button>

           </div> 
           </div> 
        </div> 
        <div class="container box" style="margin-top: 10px;"> 
         <input type="hidden" name="id" id="id" formControlName="id">
        <div class="row"> 
        <div class="col-2" style="text-align: right;">  
           <strong><em>Item:</em></strong> 
        </div> 
        <div class="col" style="text-align: left;"> 
          <input class="form-control" style="width: 50%;"  type="text" name="item_name" id="item_name" [attr.disabled]="canEdit?null:''" formControlName='item_name'>
        </div>
        </div> 
        <div class="row"> 
        <div class="col-2" style="text-align: right;">
           <strong><em>Amount:</em></strong> 
        </div> 
        <div class="col" style="text-align: left;"> 
          <input class="form-control" style="width: 50%;" type="text" name="price" id="price" [attr.disabled]="canEdit?null:''" formControlName='price'>
        </div> 
        </div> 
        <div class="row"> 
        <div class="col-2" style="text-align: right;"> 
           <strong><em>Category:</em></strong> 
        </div> 
        <div class="col" style="text-align: left;"> 
          <select class="form-control" style="width: 50%;" name="category" id="category" formControlName='category' >
            <option *ngFor="let category of CategoryList" [attr.disabled]="canEdit?null:''" [value]="category.id">
              {{category.name}}
            </option>
        </select>
        </div> 
        </div> 
        <div class="row"> 
        <div class="col-2" style="text-align: right;"> 
           <strong><em>Location:</em></strong>
        </div> 
        <div class="col" style="text-align: left;"> 
          <input class="form-control" style="width: 50%;" type="text" name="location" id="location" [attr.disabled]="canEdit?null:''" formControlName='location'>
        </div> 
        </div> 
        <div class="row"> 
        <div class="col-2" style="text-align: right;"> 
           <strong><em>Spend On:</em></strong> 
        </div> 
        <div class="col" style="text-align: left;"> 
           <input class="form-control" style="width: 50%;" type="date" name="spend_on" id="spend_on" [attr.disabled]="canEdit?null:''" formControlName='spend_on'> 
        </div> 
        </div> 
     </div> 
     </form>
  </div> 
</div> 
</div>
